body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark mode background color */
    height: 200vh;
}

h1 {
    text-align: center;
}

.navbar {
    background: rgba(0,0,0,0);
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr auto; /* Make the login button take the last column */
    align-items: center;
}

.login-button {
    background-color: #8a4bf6; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    justify-self: end; /* Align the button to the end (right) of its column */
    margin-right: 30px;
}

.container {
    max-width: 70%;
    left: -12%;
    margin: 80px auto 20px; /* Adjust margin to make space for the navbar */
    padding: 20px;
    background-color: #3d3d3d;
    border-radius: 8px;
    text-align: left; /* Center the content horizontally */
    color: white;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for absolute positioning */
}

.test {
    padding-left: 30px;
}

.dynamic-page {
    position: absolute;
    top: 80px; /* Align with the top of the container */
    right: 1.5%; /* Position 20px from the center */
    width: 20%; /* Take up half the width of the viewport minus the space for the container */
    height: 100vh; /* Take up the full height of the viewport */
    background-color: #333; /* Dark background color */
    border-radius: 8px;
    padding: 30px;
    overflow-y: auto; /* Add scroll if needed */
    color: white;
}

.dynamic-page h2 {
    text-align: center;
}

.dynamic-page p {
    text-align: justify;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #51d551;
    border-radius: 15px;
}